.tit{
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  text-align: center;
}

body{
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/abstract-dark-animated-background-grey-wavy-stripes-on-black-video-graphic-design-hd-1920x1080_42bi1dkhx__F0000.png");
  color: white;
}
h1, h2 {
  font-family: 'Oswald', sans-serif;
}
h1 {
  margin-bottom: 0;
  font-size: 3.5em;
  font-weight: 900;
}

h2 {
  margin-top: 0;
  font-weight: 400;
  font-style: italic;
}

h3
{
  font-style: italic;
}
img{
  max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;
}
.tribute-lst {
  max-width: 80%;
  margin: auto;
  text-align: justify;
}